<form action="" method="" *ngIf="Select">

    <label for="IncomeID">IncomeID</label><br>
    <input type="number" [(ngModel)]="Select.IncomeID" name="IncomeID"><br>
  
    <label for="TransactionDate">TransactionDate</label><br>
    <input type="text" [(ngModel)]="Select.TransactionDate" name="TransactionDate"><br>
  
    <label for="DonarName">DonarName</label><br>
    <input type="text" [(ngModel)]="Select.DonarName" name="DonarName"><br>
  
    <label for="Amount">Amount</label><br>
    <input type="number" [(ngModel)]="Select.Amount" name="Amount"><br>
  
    <label for="ModifiedDate">ModifiedDate</label><br>
    <input type="text" [(ngModel)]="Select.modified_date" name="ModifiedDate"><br>
  
    <button type="submit" (click)="updateIncome()">Update</button>
  
  </form>