<h5>Create New Income Data</h5>
  <form action="" method="POST">
    
      <label for="donarName">DonarName</label><br>
      <input type="text" name="DonarName" [(ngModel)]="incomeModel.DonarName"><br>
    
      <label for="amount">Amount</label><br>
      <input type="number" name="Amount" [(ngModel)]="incomeModel.Amount"><br>
    
      <button (click)="createIncome()">Insert</button>
    
    </form>
<hr>

<h2>Income Table</h2>

<table style="width:100%" id="t01">
  <thead>
    <th>IncomeID</th>
    <th>TransactionDate</th>
    <th>DonarName</th>
    <th>Amount</th>
    <th>ModifiedDate</th>
    
  </thead>
  <tbody style="color: blue" *ngFor="let income of incomes$">
    <tr [class.selected]="income === selectedIncome"
    (click)="onSelect(income)">

        <td>{{ income.IncomeID }}</td>
        <td>{{ income.TransactionDate | date }}</td>
        <td>{{ income.DonarName }}</td>
        <td>{{ income.Amount }}</td>
        <td>{{ income.modified_date | date }}</td>
        <td>
          <button type="submit" (click)="deIncome(income.IncomeID)">Delete</button>
        </td>
    </tr>
  </tbody>
</table>
<br><br>

<!-- show hide edit|update income form -->
<button (click)="toggle()" id="bt">
  <i class="material-icons">edit</i>{{incomef}}
</button>
<ng-container *ngIf="Update">
  <app-incomef [Select]="selectedIncome"></app-incomef>
</ng-container>
<hr>
<br><br>
